<div class="row main-container">
    <div class="col-12">
        <div class="form-group row">
            <div class="alert alert-primary col-12" role="alert">
                Por favor ingrese el criterio para determinar qué animales del archivo son bovinos
            </div>
            <label for="criteria" class="col-sm-3 col-form-label">Los bovinos empiezan por: </label>
            <div class="col-sm-2">
                <input type="text" class="form-control" id="criteria" [(ngModel)]="criteria" name="criteria">
            </div>
        </div>
    </div>

    <div class="col-12">
        <div class="custom-file col-md-4">
            <input type="file" class="custom-file-input" id="fileInput" required (change)="UpdateFile($event)" lang="es">
            <label for="fileInput" class="custom-file-label">{{ file?.name || 'Cargar archivo'}}</label>
            <div class="invalid-feedback">
                Por favor seleccione un archivo válido.
            </div>
        </div>
    </div>

    <div class="col-12" *ngIf="fileSuccess">
        <br>
        <button type="button" class="btn btn-success" name="button" (click)="DownloadFile('Bovinos.txt')">Descargar Bovinos.txt</button>
        <button type="button" class="btn btn-warning" name="button" (click)="DownloadFile('Equinos.txt')">Descargar Equinos.txt</button>
    </div>

    <div class="col-12">
        <hr>
        <button type="button" class="btn btn-primary" name="button" (click)="UploadFile()" [disabled]="!file">Subir Archivo</button>
    </div>

</div>
